.feed-page{
    background: url('../statics/FeedBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    position: relative;
    z-index: 90;
    @media screen and (max-width:1500px) {
        background: url('../statics/FeedBackground1500px.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 90;
    }
    @media screen and (max-width:1000px) {
        background: url('../statics/FeedBackground1000px.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 90;
    }
    @media screen and (max-width:800px) {
        background: url('../statics/FeedBackground800px.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 90;
    }

}

.feed-page-top{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 89;
    background-color: black;
}