.long-txt{
    color: white;
    font-size: xx-large;
}

.long-txt-txt{
    font-size: 8vh;
    @media screen and (max-width:1200px) {
            font-size: 6vh;
    }
    
    @media screen and (max-width:1000px){
            font-size: 4vh;
    }
    
    @media screen and (max-width:850px){
            font-size: 3vh;
    }
    /*
    @media screen and (max-width: 650px){
            font-size: 2vh;
    }
    */
}

.long-txt-btn{
    background-color: #d6030d;
    font-weight: bold;
}

