.navbar-ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    padding-right: 2vh;
    padding-left: 2vh;
    margin: -0.01vh; /* para ajustar el ancho de la barra inferior al back de la tipografia */
}

.navbar-li{
    margin: -0.01vh; /* para ajustar el ancho de la barra inferior al back de la tipografia */
    padding: 2vh;
    font-size: 2vh;
    font-weight: bold;
}

.navbar-li:hover{
    background-color: #D31718;
}